<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blank.mapper.UUserPositionMapper">

    <cache type="com.blank.mapper.cache.MybatisRedisCache" />

    <select id="getPositionsById" resultType="java.lang.String">
        select
        position
        from dc_user_position
        where id=#{id}
    </select>
</mapper>